$accent-color: #F8D24E;
$bg-green: #84A178;

$light-title-color: #FCFCFC;
$dark-title-color: #131313;;

$white-text-color: #ffffff;
$black-text-color: #000000;
$red-text-color: #D6936D;

$btn-actions:#0A8817;
$btn-disabled:#ABABAB;

$mobile: 480px;
$tablet: 768px;
$desctop: 1200px; 