<div class="combined-bg"></div>
<section class="galary">
  <div class="container">
    <h2 class="visually-hidden">Galary</h2>
    <div class="galary__thumb">
      <div class="galary__slide">
        <div>
          <picture>
            <source
              media="(min-width: 1200px )"
              srcset="
                ./images/galary_img1_d.jpg    1x,
                ./images/galary_img1_d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                ./images/galary_img1_t.jpg    1x,
                ./images/galary_img1_t@2x.jpg 2x
              "
            />

            <img
              class="galary__img"
              srcset="
                ./images/galary_img1_m.jpg    1x,
                ./images/galary_img1_m@2x.jpg 2x
              "
              src="./images/galary_img1_m.jpg"
              alt="Морозиво"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              media="(min-width: 1200px )"
              srcset="
                ./images/galary_img2_d.jpg    1x,
                ./images/galary_img2_d@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                ./images/galary_img2_t.jpg    1x,
                ./images/galary_img2_t@2x.jpg 2x
              "
            />

            <img
              class="galary__img"
              srcset="
                ./images/galary_img2_m.jpg    1x,
                ./images/galary_img2_m@2x.jpg 2x
              "
              src="./images/galary_img2_m.jpg"
              alt="Морозиво"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feedback">
  <div class="container">
    <h2 class="visually-hidden">Feedback</h2>
    <div class="feedback__slide">
      <div>
        <div class="feedback__block">
          <div class="feedback__portret">
            <img
              srcset="
                ./images/feedback1_d.jpg    1x,
                ./images/feedback1_d@2x.jpg 2x
              "
              src="./images/feedback1_d.jpg"
              alt="Emily"
            />
          </div>
          <blockquote class="feedback__card">
            <p class="feedback__text">
              I love visiting your cafe. <span class="feedback__line"></span>You
              prepare the most <span class="feedback__line"></span>delicious ice
              cream in Los <span class="feedback__line"></span>Angeles!
              <span class="feedback__line"></span>In addition, you have
              <span class="feedback__line"></span>beautiful serving, cozy
              <span class="feedback__line"></span>atmosphere and polite
              <span class="feedback__line"></span>staff.<span
                class="feedback__line"
              ></span>
            </p>
          </blockquote>
          <cite class="feedback__title">Emily, Los Angeles</cite>
        </div>
      </div>

      <div>
        <div class="feedback__block">
          <div class="feedback__portret">
            <img
              srcset="
                ./images/feedback2_d.jpg    1x,
                ./images/feedback2_d@2x.jpg 2x
              "
              src="./images/feedback2_d.jpg"
              alt="Elon"
            />
          </div>
          <blockquote class="feedback__card">
            <p class="feedback__text">
              Delicious ice cream. <span class="feedback__line"></span> I am
              coming from <span class="feedback__line"></span> San Francisco to
              enjoy it! <span class="feedback__line"></span> Long way!
              <span class="feedback__line"></span> In addition, there is
              <span class="feedback__line"></span> Supercharger nearby.
              <span class="feedback__line"></span> And staff is very<span
                class="feedback__line"
              ></span
              >polite.<span class="feedback__line"></span>
            </p>
          </blockquote>
          <cite class="feedback__title">Elon, San Francisco</cite>
        </div>
      </div>

      <div>
        <div class="feedback__block">
          <div class="feedback__portret">
            <img
              srcset="
                ./images/feedback1_d.jpg    1x,
                ./images/feedback1_d@2x.jpg 2x
              "
              src="./images/feedback1_d.jpg"
              alt="Emily"
            />
          </div>
          <blockquote class="feedback__card">
            <p class="feedback__text">
              I love visiting your cafe. <span class="feedback__line"></span>You
              prepare the most <span class="feedback__line"></span>delicious ice
              cream in Los <span class="feedback__line"></span>Angeles!
              <span class="feedback__line"></span>In addition, you have
              <span class="feedback__line"></span>beautiful serving, cozy
              <span class="feedback__line"></span>atmosphere and polite
              <span class="feedback__line"></span>staff.<span
                class="feedback__line"
              ></span>
            </p>
          </blockquote>
          <cite class="feedback__title">Emily, Los Angeles</cite>
        </div>
      </div>
    </div>
  </div>
</section>
