<section class="locations container" id="contact">
    <h2 class="visually-hidden">Locations</h2>
    <ul class="locations__list list">
        <li class="locations__item">
            <span class="locations__type">CAFE</span>
            <span class="locations__city">Chicago</span>
            <a class="locations__coordinate" href="https://goo.gl/maps/ykWsUxUN3Xyc1qGYA" target="_blank"
                rel="noopener noreferrer">10340 Ridgeland Ave,
                Chicago
                Ridge, IL 60415, USA</a>

            <ul class="locations__worktime list">
                <li class="locations__graphic">
                    <p class="locations__days">Monday - Friday</p>
                    <p class="locations__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="locations__graphic">
                    <p class="locations__days">Saturday - Sunday</p>
                    <p class="locations__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>

            <a class="locations__contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="locations__contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
        <li class="locations__item">
            <span class="locations__type">FOOD TRUCK</span>
            <span class="locations__city">Los Angeles</span>
            <a class="locations__coordinate" href="https://goo.gl/maps/ZYtNsYuFtqLzGaRk6" target="_blank"
                rel="noopener noreferrer">1003 Manhattan Ave,
                Manhattan Beach, CA 90263, USA</a>

            <ul class="locations__worktime list">
                <li class="locations__graphic">
                    <p class="locations__days">Monday - Friday</p>
                    <p class="locations__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="locations__graphic">
                    <p class="locations__days">Saturday - Sunday</p>
                    <p class="locations__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>

            <a class="locations__contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="locations__contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
        <li class="locations__item">
            <span class="locations__type">CAFE</span>
            <span class="locations__city">New York</span>
            <a class="locations__coordinate" href="https://goo.gl/maps/hxJmsEg2ynzsqyE87" target="_blank"
                rel="noopener noreferrer">726 Sterling Pl,
                Brooklyn,
                NY 11222, USA </a>

            <ul class="locations__worktime list">
                <li class="locations__graphic">
                    <p class="locations__days">Monday - Friday</p>
                    <p class="locations__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="locations__graphic">
                    <p class="locations__days">Saturday - Sunday</p>
                    <p class="locations__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>

            <a class="locations__contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="locations__contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>

    <div class="locations__btn">
        <button type="button" class="btn">
            Our Locations
            <svg width="10" height="10">
                <use href="./images/svg/icons.svg#btn-sign"></use>
            </svg>
        </button>
        <button type="button" class="btn btn--transparent">
            Franchise
            <svg width="10" height="10">
                <use href="./images/svg/icons.svg#btn-sign"></use>
            </svg>
        </button>
    </div>
</section>