

<section class="Products" id="products">
    <div class="container">
         <span class="Products__span">100% natural</span>
        <h2 class="Products__subject">products</h2>
        <ul class="Products__menu">
            <li class="Products__list">
                <div class="Products__box">
                </div>
                    <div class="Products__wrapper">
                    <h3 class="Products__titel">ice cream</h3>
                    <p class="Products__text">Soft ice cream with a <br> delicate taste. Made with <br> milk, cream, sugar and <br> natural stabilizer
                    </p>
                </div>
                <button type="button" class="Products__button" aria-label="about ice cream">
                    <svg class="Products__svg" width="50" height="15">
                        <use href="./images/svg/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
                   
            </li>
            
            <li class="Products__list">
                <div class="Products__box"></div>
                    <div class="Products__wrapper">
                    <h3 class="Products__titel">ice coffee</h3>
                    <p class="Products__text">Fragrant invigorating drink <br> created from 100% natural <br> ingredients without the use <br> of preservatives and flavor <br> enhancers
                    </p>
                </div>
                <button type="button" class="Products__button" aria-label="about ice coffee">
                    <svg class="Products__svg" width="50" height="15">
                        <use href="./images/svg/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        
  
            <li class="Products__list">
                <div class="Products__box">
                </div>
                    <div class="Products__wrapper">
                    <h3 class="Products__titel">milkshakes</h3>
                    <p class="Products__text">Sweet drinks based on milk <br> and ice cream, <br> supplemented with syrups, <br> fruits, berries and other <br> sweets of your choice
                    </p>
                </div>
                <button type="button" class="Products__button" aria-label="about ice milkshakes">  <svg class="Products__svg" width="50" height="15">
                    <use href="./images/svg/icons.svg#icon-arrow"></use>
                </svg></button>
            </li>
        </ul>
    </div>
</section>
